.carousel {
  height: 100%;
  width: 100%;
}
.carousel-cell {
  height: 100%;
}
.flickity-button {
  display: none;
}
.flickity-page-dots {
  bottom: -70px;
  .dot {
    width: 12px;
    height: 12px;
    background: #f3f3f3;
    opacity: 1;
    border-radius: 50%;
    margin: 0 18px;
  }
  .is-selected {
    width: 16px;
    height: 16px;
    background: $color-primary;
  }
}
