//variables
$color-primary: #ef633e;
$color-primary-light: rgba(255, 67, 0, 0.3);
$color-secondary: linear-gradient(180deg, #96e4dd 0%, #5dc4b8 100%);
$color-font-secondary: #5dc4b8;
$color-black: #333;
$HEAD-FONT: "Manrope", sans-serif;
$TITLE-FONT: "Elsie", cursive;
