#footer {
  h1 {
    color: $color-secondary;
    font-family: $TITLE-FONT;
    font-size: 26px;
    font-weight: 900;
    max-width: 116px;
    margin-bottom: 20px;
  }
  i {
    color: white;
    border-radius: 50%;
    padding: 10px 13px;
    margin-right: 8px;
  }
  i:hover {
    padding: 14px 17px;
  }
  .fa-facebook-f {
    background: $color-font-secondary;
  }
  .fa-twitter {
    background: $color-primary;
  }
  .fa-instagram {
    background: #efa322;
  }
  li {
    margin-bottom: 20px;
    a {
      color: $color-black;
    }
    a:hover {
      color: $color-font-secondary;
    }
  }
  input {
    background: #ffffff;
    border: 1px solid #dadada;
    box-sizing: border-box;
    border-radius: 12px;
    padding: 16px;
    max-width: 100%;
    margin-bottom: 16px;
  }
  input:hover {
    border: 1px solid $color-font-secondary;
  }
  input:focus-visible {
    border: 1px solid $color-primary;
  }
  .border {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    .col {
      padding: 35px 0 0;
    }
    a.terms-a {
      color: $color-black;
    }
    a.terms-a:last-child {
      margin-left: 80px;
    }
    a.terms-a:hover {
      color: $color-font-secondary;
    }
    p {
      opacity: 0.5;
      width: 190px;
    }
  }
  @media (min-width: 768px) {
    h1 {
      font-size: 40px;
    }
    .col {
      margin-bottom: 0;
    }
    .border {
      .col {
        padding: 35px 15px 0;
      }
    }
    .end-col {
      justify-content: flex-start;
      p {
        width: initial;
      }
    }
    .end-col-2 {
      justify-content: flex-end;
    }
  }
  @media (min-width: 992px) {
    i {
      color: white;
      border-radius: 50%;
      padding: 16px 19px;
      margin-right: 8px;
    }
    i:hover {
      padding: 22px 25px;
    }
  }
}
